optimum-intel 
openvino 
diffusers 
onnx
gradio==3.41.2
spaces
huggingface_hub
transformers
pillow
torch
requests
argparse
numpy
opencv-python
rembg
imageio
python-dotenv
jinja2
sentencepiece
httpx==0.24.1
omegaconf